In [10]:
# Import necessary libraries
import pandas as pd
from sdv.single_table import GaussianCopulaSynthesizer
from sdv.metadata import SingleTableMetadata

# Load the original dataset
original_data = pd.read_csv('electronic_devices.csv')

# Create a metadata object
metadata = SingleTableMetadata()
metadata.detect_from_dataframe(original_data)

# Create a synthesizer model with the metadata
synthesizer = GaussianCopulaSynthesizer(metadata)

# Fit the model on the original data
synthesizer.fit(original_data)

# Generate synthetic data with 1 million rows
synthetic_data = synthesizer.sample(num_rows=1000000)

synthetic_data.to_csv('synthetic_data.csv', index=False)
# Save or display the synthetic data (optional)
print(synthetic_data.head())

/home/quandis/.local/lib/python3.10/site-packages/sdv/single_table/base.py:119: FutureWarning: The 'SingleTableMetadata' is deprecated. Please use the new 'Metadata' class for synthesizers.
  warnings.warn(DEPRECATION_MSG, FutureWarning)
/home/quandis/.local/lib/python3.10/site-packages/sdv/single_table/base.py:104: UserWarning: We strongly recommend saving the metadata using 'save_to_json' for replicability in future SDV versions.
  warnings.warn(

   customer_id  age  gender loyalty_member product_type      sku  rating  \
0        15061   50  Female             No       Tablet   TBL345       4
1        11716   55  Female             No   Headphones   SWT567       5
2        18435   35    Male             No   Smartwatch   SWT567       4
3        13696   46  Female             No   Smartphone  SKU1005       5
4         1180   65  Female             No   Smartphone  SKU1002       3

  order_status payment_method  total_price  unit_price  quantity  \
0    Completed           Cash      6754.24     1135.00         6
1    Cancelled           Cash      3235.81      927.27         9
2    Completed    Credit Card      3258.52      533.55         4
3    Cancelled         Paypal       867.60      913.77        10
4    Cancelled         PayPal       691.18      136.06         2

  purchase_date shipping_type  \
0    2024-05-02       Express
1    2024-01-01      Standard
2    2024-08-26      Standard
3    2024-07-06      Standard
4    2024-06-29      Standard

                                             addons  addons_cnt
0  Extended Warranty,Impulse Item,Extended Warranty        2.57
1       Impulse Item,Impulse Item,Extended Warranty        1.52
2                                               NaN        0.51
3                                               NaN       12.89
4                            Impulse Item,Accessory        6.18

In [12]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import size, split, col

# Initialize Spark session
spark = SparkSession.builder \
    .appName("Electronic Devices Analysis") \
    .getOrCreate()

# Assuming synthetic_data is already a PySpark DataFrame
# If synthetic_data is a Pandas DataFrame, convert it to PySpark DataFrame first
# df = spark.createDataFrame(synthetic_data)

# Read the synthetic data into a DataFrame (if not already done)
df = spark.read.csv('synthetic_data.csv', header=True, inferSchema=True)

# Filter for records on '2024-09-03' and with exactly one additional purchase
filtered_df = df.filter(
    (col('purchase_date') == '2024-09-03') & 
    (size(split(col('addons'), ',')) == 1)  # Count addons after splitting by comma
)

# Show the filtered results (optional)
filtered_df.show()

+-----------+---+------+--------------+------------+-------+------+------------+--------------+-----------+----------+--------+-------------+-------------+-----------------+----------+
|customer_id|age|gender|loyalty_member|product_type|    sku|rating|order_status|payment_method|total_price|unit_price|quantity|purchase_date|shipping_type|           addons|addons_cnt|
+-----------+---+------+--------------+------------+-------+------+------------+--------------+-----------+----------+--------+-------------+-------------+-----------------+----------+
|      15470| 28|  Male|            No|  Smartphone|SKU1005|     2|   Cancelled|        Paypal|    1622.39|   1095.89|       8|   2024-09-03|    Overnight|     Impulse Item|       0.0|
|      15560| 47|  Male|           Yes|      Laptop| LTP123|     2|   Completed|        PayPal|    11396.8|   1138.94|       2|   2024-09-03|      Express|Extended Warranty|      4.38|
|      16142| 24|  Male|            No|  Headphones| TBL345|     5|   Completed|        PayPal|    2268.75|   1027.48|       2|   2024-09-03|     Standard|Extended Warranty|      0.01|
|      10173| 53|Female|            No|      Tablet| LTP123|     1|   Completed|          Cash|     536.23|    632.11|       5|   2024-09-03|     Standard|Extended Warranty|      1.57|
|       8990| 64|  Male|           Yes|  Smartphone|SKU1003|     3|   Cancelled|   Credit Card|    1516.04|    801.35|      10|   2024-09-03|     Standard|Extended Warranty|      1.11|
|       4350| 19|Female|            No|      Laptop|SKU1004|     2|   Completed|   Credit Card|     986.51|    870.61|       2|   2024-09-03|     Standard|     Impulse Item|      0.13|
|      18575| 76|  Male|            No|      Laptop| HDP456|     3|   Completed| Bank Transfer|    8341.93|   1097.17|      10|   2024-09-03|    Expedited|Extended Warranty|     40.27|
|       4144| 49|Female|            No|  Smartphone|SKU1005|     5|   Completed|   Credit Card|      454.0|    155.26|       9|   2024-09-03|     Same Day|     Impulse Item|      0.15|
|      13202| 38|  Male|            No|      Laptop| TBL345|     3|   Cancelled|   Credit Card|     537.65|    507.47|       5|   2024-09-03|     Standard|Extended Warranty|      15.5|
|       7759| 44|  Male|           Yes|  Headphones| TBL345|     5|   Completed| Bank Transfer|      21.96|    129.09|       7|   2024-09-03|    Overnight|        Accessory|      0.59|
|       3444| 46|Female|            No|  Smartphone|SKU1002|     3|   Cancelled|   Credit Card|    2365.41|   1088.12|       6|   2024-09-03|     Same Day|        Accessory|      0.43|
|      18739| 21|  Male|            No|      Tablet| HDP456|     5|   Completed|   Credit Card|      56.93|    549.14|       6|   2024-09-03|     Same Day|Extended Warranty|      1.33|
|       1134| 52|  Male|            No|  Smartphone|SKU1004|     3|   Cancelled|   Credit Card|      87.71|    125.99|       3|   2024-09-03|     Standard|Extended Warranty|     58.98|
|      16569| 34|Female|            No|      Tablet| HDP456|     1|   Completed|        Paypal|    1329.92|   1116.93|       1|   2024-09-03|     Standard|        Accessory|      6.13|
|      17392| 68|  Male|           Yes|  Smartwatch| SMP234|     5|   Cancelled|        PayPal|    1785.84|    583.42|       2|   2024-09-03|      Express|     Impulse Item|     28.07|
|      10939| 73|Female|            No|  Headphones| LTP123|     1|   Completed|          Cash|    1074.93|    382.57|       6|   2024-09-03|     Same Day|Extended Warranty|     11.37|
|      18739| 76|Female|            No|  Headphones| SWT567|     1|   Cancelled| Bank Transfer|    5932.59|   1064.69|       8|   2024-09-03|    Expedited|Extended Warranty|       1.2|
|      17645| 40|  Male|            No|  Smartphone|SKU1005|     2|   Cancelled|        PayPal|    5150.94|    522.67|       1|   2024-09-03|     Same Day|        Accessory|     73.11|
|      18721| 52|Female|            No|  Smartwatch| LTP123|     5|   Completed| Bank Transfer|     1447.3|    809.94|       6|   2024-09-03|     Same Day|     Impulse Item|      14.9|
|       4185| 47|Female|            No|  Smartphone|SKU1004|     2|   Cancelled|          Cash|    3871.23|    526.55|       5|   2024-09-03|     Standard|        Accessory|     39.68|
+-----------+---+------+--------------+------------+-------+------+------------+--------------+-----------+----------+--------+-------------+-------------+-----------------+----------+
only showing top 20 rows

In [13]:
from pyspark.sql import functions as F

# Calculate min and max prices grouped by gender and age
price_diff_df = filtered_df.groupBy('gender', 'age').agg(
    (F.max('unit_price') - F.min('unit_price')).alias('unit_price_diff'),
    (F.max('total_price') - F.min('total_price')).alias('total_price_diff')
)

# Collect the results to driver
results = price_diff_df.collect()

# Display results (optional)
for row in results:
    print(row)

Row(gender='Female', age=47, unit_price_diff=651.4399999999999, total_price_diff=6053.91)
Row(gender='Female', age=65, unit_price_diff=993.0900000000001, total_price_diff=6348.18)
Row(gender='Male', age=21, unit_price_diff=925.6200000000001, total_price_diff=5303.549999999999)
Row(gender='Female', age=52, unit_price_diff=972.4900000000001, total_price_diff=9981.5)
Row(gender='Male', age=52, unit_price_diff=1006.99, total_price_diff=11309.09)
Row(gender='Female', age=76, unit_price_diff=785.1000000000001, total_price_diff=10247.06)
Row(gender='Male', age=24, unit_price_diff=767.1, total_price_diff=6367.75)
Row(gender='Female', age=23, unit_price_diff=711.6499999999999, total_price_diff=6685.509999999999)
Row(gender='Male', age=64, unit_price_diff=988.81, total_price_diff=9127.83)
Row(gender='Male', age=68, unit_price_diff=909.28, total_price_diff=6483.9400000000005)
Row(gender='Male', age=74, unit_price_diff=905.54, total_price_diff=8002.9800000000005)
Row(gender='Female', age=49, unit_price_diff=979.02, total_price_diff=7201.95)
Row(gender='Female', age=50, unit_price_diff=495.16, total_price_diff=5520.47)
Row(gender='Female', age=56, unit_price_diff=676.1800000000001, total_price_diff=5651.7)
Row(gender='Male', age=47, unit_price_diff=779.99, total_price_diff=11233.32)
Row(gender='Male', age=61, unit_price_diff=986.5999999999999, total_price_diff=9402.87)
Row(gender='Male', age=38, unit_price_diff=1012.79, total_price_diff=9304.54)
Row(gender='Female', age=51, unit_price_diff=1009.1000000000001, total_price_diff=8389.300000000001)
Row(gender='Female', age=46, unit_price_diff=596.3599999999999, total_price_diff=3421.9100000000003)
Row(gender='Male', age=28, unit_price_diff=844.4800000000001, total_price_diff=7761.63)
Row(gender='Female', age=24, unit_price_diff=803.41, total_price_diff=8870.5)
Row(gender='Male', age=76, unit_price_diff=969.24, total_price_diff=8231.4)
Row(gender='Female', age=73, unit_price_diff=753.1800000000001, total_price_diff=8888.85)
Row(gender='Male', age=60, unit_price_diff=995.1300000000001, total_price_diff=11373.99)
Row(gender='Male', age=44, unit_price_diff=1003.7499999999999, total_price_diff=7172.31)
Row(gender='Female', age=67, unit_price_diff=925.2199999999999, total_price_diff=6456.5)
Row(gender='Female', age=62, unit_price_diff=818.6399999999999, total_price_diff=5077.030000000001)
Row(gender='Female', age=69, unit_price_diff=763.98, total_price_diff=3943.6000000000004)
Row(gender='Female', age=34, unit_price_diff=870.9000000000001, total_price_diff=6496.3099999999995)
Row(gender='Female', age=19, unit_price_diff=208.13, total_price_diff=5245.4)
Row(gender='Female', age=60, unit_price_diff=850.7099999999999, total_price_diff=4835.2)
Row(gender='Male', age=40, unit_price_diff=627.1399999999999, total_price_diff=2249.2499999999995)
Row(gender='Female', age=53, unit_price_diff=727.4, total_price_diff=6127.6)
Row(gender='Female', age=20, unit_price_diff=908.8199999999999, total_price_diff=9512.53)
Row(gender='Female', age=74, unit_price_diff=592.6000000000001, total_price_diff=5174.66)
Row(gender='Male', age=73, unit_price_diff=289.7399999999999, total_price_diff=5546.82)
Row(gender='Female', age=37, unit_price_diff=988.29, total_price_diff=7823.58)
Row(gender='Male', age=36, unit_price_diff=837.7399999999999, total_price_diff=10566.43)
Row(gender='Male', age=77, unit_price_diff=1002.0900000000001, total_price_diff=6488.16)
Row(gender='Female', age=77, unit_price_diff=964.2300000000001, total_price_diff=5057.97)
Row(gender='Male', age=54, unit_price_diff=594.45, total_price_diff=3472.2499999999995)
Row(gender='Male', age=45, unit_price_diff=901.8199999999999, total_price_diff=7249.42)
Row(gender='Male', age=22, unit_price_diff=812.3900000000001, total_price_diff=577.1199999999999)
Row(gender='Male', age=25, unit_price_diff=859.98, total_price_diff=6842.95)
Row(gender='Female', age=61, unit_price_diff=916.6899999999999, total_price_diff=6157.49)
Row(gender='Female', age=64, unit_price_diff=592.85, total_price_diff=7009.08)
Row(gender='Female', age=58, unit_price_diff=999.5, total_price_diff=10123.73)
Row(gender='Male', age=42, unit_price_diff=887.3800000000001, total_price_diff=8852.94)
Row(gender='Male', age=39, unit_price_diff=785.3399999999999, total_price_diff=5529.79)
Row(gender='Female', age=75, unit_price_diff=869.75, total_price_diff=8547.89)
Row(gender='Male', age=49, unit_price_diff=786.09, total_price_diff=10226.0)
Row(gender='Female', age=39, unit_price_diff=935.21, total_price_diff=6411.86)
Row(gender='Male', age=57, unit_price_diff=939.6700000000001, total_price_diff=6481.79)
Row(gender='Male', age=70, unit_price_diff=738.5899999999999, total_price_diff=8052.079999999999)
Row(gender='Male', age=63, unit_price_diff=921.3900000000001, total_price_diff=5399.88)
Row(gender='Female', age=68, unit_price_diff=996.71, total_price_diff=9997.78)
Row(gender='Female', age=27, unit_price_diff=934.0699999999999, total_price_diff=5952.89)
Row(gender='Male', age=19, unit_price_diff=112.5, total_price_diff=6506.31)
Row(gender='Male', age=20, unit_price_diff=269.27, total_price_diff=3729.55)
Row(gender='Female', age=57, unit_price_diff=344.38, total_price_diff=4429.96)
Row(gender='Female', age=40, unit_price_diff=958.97, total_price_diff=9449.84)
Row(gender='Female', age=63, unit_price_diff=249.39999999999998, total_price_diff=5293.42)
Row(gender='Male', age=51, unit_price_diff=903.72, total_price_diff=3847.62)
Row(gender='Male', age=29, unit_price_diff=802.47, total_price_diff=6004.44)
Row(gender='Male', age=80, unit_price_diff=849.47, total_price_diff=3659.0399999999995)
Row(gender='Female', age=55, unit_price_diff=848.76, total_price_diff=5207.37)
Row(gender='Female', age=36, unit_price_diff=722.0600000000001, total_price_diff=4838.52)
Row(gender='Female', age=35, unit_price_diff=752.06, total_price_diff=8250.41)
Row(gender='Male', age=23, unit_price_diff=993.2400000000001, total_price_diff=10017.349999999999)
Row(gender='Male', age=55, unit_price_diff=794.24, total_price_diff=10376.199999999999)
Row(gender='Male', age=67, unit_price_diff=972.03, total_price_diff=6070.950000000001)
Row(gender='Male', age=78, unit_price_diff=72.55999999999995, total_price_diff=4258.719999999999)
Row(gender='Female', age=32, unit_price_diff=54.789999999999964, total_price_diff=2337.8499999999995)
Row(gender='Male', age=56, unit_price_diff=880.8399999999999, total_price_diff=11355.05)
Row(gender='Male', age=48, unit_price_diff=944.81, total_price_diff=8101.280000000001)
Row(gender='Male', age=75, unit_price_diff=916.4, total_price_diff=4125.78)
Row(gender='Female', age=43, unit_price_diff=711.3399999999999, total_price_diff=1517.65)
Row(gender='Female', age=70, unit_price_diff=763.86, total_price_diff=7484.95)
Row(gender='Male', age=72, unit_price_diff=983.97, total_price_diff=10740.63)
Row(gender='Female', age=31, unit_price_diff=556.8100000000001, total_price_diff=1883.6599999999999)
Row(gender='Male', age=31, unit_price_diff=791.1800000000001, total_price_diff=7067.94)
Row(gender='Female', age=22, unit_price_diff=925.7, total_price_diff=8398.29)
Row(gender='Male', age=50, unit_price_diff=902.56, total_price_diff=5229.74)
Row(gender='Male', age=46, unit_price_diff=946.7, total_price_diff=5500.8)
Row(gender='Female', age=71, unit_price_diff=898.52, total_price_diff=8405.24)
Row(gender='Male', age=43, unit_price_diff=875.37, total_price_diff=2567.3999999999996)
Row(gender='Female', age=48, unit_price_diff=844.83, total_price_diff=8411.53)
Row(gender='Male', age=34, unit_price_diff=485.91999999999996, total_price_diff=1401.7199999999998)
Row(gender='Male', age=79, unit_price_diff=953.8000000000001, total_price_diff=4306.0199999999995)
Row(gender='Male', age=65, unit_price_diff=937.1400000000001, total_price_diff=6251.38)
Row(gender='Male', age=32, unit_price_diff=978.87, total_price_diff=9138.07)
Row(gender='Male', age=33, unit_price_diff=511.11, total_price_diff=4834.509999999999)
Row(gender='Female', age=44, unit_price_diff=736.4, total_price_diff=7378.67)
Row(gender='Male', age=35, unit_price_diff=987.9499999999999, total_price_diff=7104.219999999999)
Row(gender='Male', age=41, unit_price_diff=348.38, total_price_diff=4825.49)
Row(gender='Male', age=27, unit_price_diff=843.19, total_price_diff=3275.0299999999997)
Row(gender='Male', age=37, unit_price_diff=989.2399999999999, total_price_diff=11063.15)
Row(gender='Female', age=33, unit_price_diff=678.6, total_price_diff=2067.14)
Row(gender='Female', age=72, unit_price_diff=981.62, total_price_diff=6189.68)
Row(gender='Male', age=53, unit_price_diff=691.6700000000001, total_price_diff=5300.15)
Row(gender='Male', age=58, unit_price_diff=985.43, total_price_diff=10359.22)
Row(gender='Female', age=30, unit_price_diff=1002.9399999999999, total_price_diff=6220.28)
Row(gender='Male', age=71, unit_price_diff=886.76, total_price_diff=10155.5)
Row(gender='Male', age=69, unit_price_diff=1000.1899999999999, total_price_diff=10203.199999999999)
Row(gender='Female', age=38, unit_price_diff=505.56000000000006, total_price_diff=2968.18)
Row(gender='Female', age=41, unit_price_diff=987.63, total_price_diff=6998.97)
Row(gender='Female', age=42, unit_price_diff=666.6500000000001, total_price_diff=6349.490000000001)
Row(gender='Male', age=66, unit_price_diff=985.4499999999999, total_price_diff=9454.37)
Row(gender='Male', age=30, unit_price_diff=771.98, total_price_diff=2279.21)
Row(gender='Female', age=28, unit_price_diff=881.6500000000001, total_price_diff=7691.21)
Row(gender='Female', age=26, unit_price_diff=299.47, total_price_diff=5998.28)
Row(gender='Male', age=62, unit_price_diff=956.8399999999999, total_price_diff=9992.91)
Row(gender='Female', age=78, unit_price_diff=155.39000000000004, total_price_diff=2096.58)
Row(gender='Female', age=66, unit_price_diff=998.79, total_price_diff=8238.560000000001)
Row(gender='Female', age=29, unit_price_diff=305.06999999999994, total_price_diff=3561.79)
Row(gender='Female', age=21, unit_price_diff=372.8499999999999, total_price_diff=6107.91)
Row(gender='Female', age=25, unit_price_diff=909.15, total_price_diff=7423.879999999999)
Row(gender='Female', age=79, unit_price_diff=489.3900000000001, total_price_diff=7401.290000000001)
Row(gender='Male', age=59, unit_price_diff=822.8699999999999, total_price_diff=7046.15)
Row(gender='Female', age=54, unit_price_diff=692.4899999999999, total_price_diff=6382.9)
Row(gender='Male', age=26, unit_price_diff=960.39, total_price_diff=7849.98)
Row(gender='Female', age=45, unit_price_diff=799.07, total_price_diff=5792.48)
Row(gender='Female', age=59, unit_price_diff=0.0, total_price_diff=0.0)
Row(gender='Female', age=80, unit_price_diff=0.0, total_price_diff=0.0)

In [14]:
import time

# Measure time without caching
start_time = time.time()
price_diff_df.collect()  # Perform action to trigger computation
end_time = time.time()
print(f"Execution time without caching: {end_time - start_time} seconds")

# Cache the DataFrame and measure again
filtered_df.cache()
start_time = time.time()
price_diff_df.collect()  # Perform action to trigger computation after caching
end_time = time.time()
print(f"Execution time with caching: {end_time - start_time} seconds")

# Optionally, you can also try checkpointing for performance measurement.
spark.sparkContext.setCheckpointDir("checkpoints")
filtered_df.checkpoint()
start_time = time.time()
price_diff_df.collect()  # Perform action to trigger computation after checkpointing
end_time = time.time()
print(f"Execution time with checkpointing: {end_time - start_time} seconds")

Execution time without caching: 0.025639772415161133 seconds
Execution time with caching: 0.025003671646118164 seconds
Execution time with checkpointing: 0.025121450424194336 seconds